/*footer css*/
.footer-bottom {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.footer-bottom div {
    width: 100%;
    border-top : 1px solid #231901;
    background-color: #4d3704;
}

.footer-bottom p {
    text-align: center ;
}