/* سيشن اساسيه ومقاسات ولون الخلفيه */
.hero-section {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    background: hwb(41 34% 0%);
    direction: rtl;
}

/* محتوى الـ Hero */
.hero-content {
    max-width: 800px;
    width: 100%;
}
/* heading part */
.hero-content h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    line-height: 1.2;
}
/* pargraph part */
.hero-content p {
    font-size: 20px;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.7;
}

/* search part*/
.search-box {
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 20px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
}

.search-box button {
    border: none;
    padding: 0 25px;
    cursor: pointer;
    font-size: 16px;
    background-color: #333;
    color: white;
}

/* زر الطلب (CTA) */
.order-btn {
    padding: 14px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    background-color: #fff;
    color: #000;
}

/* التصميم المتجاوب (Responsive) */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .search-box {
        flex-direction: column;
    }

    .search-box button {
        padding: 12px;
    }
}