/* start styles for the navigation bar */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');body {
    font-family: 'Outfit', sans-serif;
}
body {
    font-family: 'Outfit', sans-serif;
    padding-top: 76px; 
}
.navbar {
    background-color: #C08C5D;
    padding: 0.8rem 1.5rem;
    transition: background-color 0.3s ease;
}
.navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease ,transform 0.3s ease;
}
.navbar-brand :hover {
    color: #150f68;
    transform: scale(1.05);
}
.navbar-nav .nav-link {
    color: #fff;
    font-size: 1.05rem;
    margin: 0 0.6rem;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #150f68;
    transition: width 0.3s ease;
}
.navbar-nav .nav-link:hover {
    color: #150f68;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-link.disabled {
    opacity: 0.5;
}
@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: #C08C5D;
        padding: 1rem 0;
        margin-top: 0.5rem;
        border-radius: 8px;
    }
    .navbar-nav .nav-link {
        padding: 0.5rem 1rem;
        display:inline-block ;
        width: 13%;
    }
}